@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our page</h1>
    <p>Please contact us <a href="https://docs.microsoft.com/aspnet/core">here</a> if you need more information for us.</p>
	<hr />
	<p>At the moment we cannot server you, please get back to us in another time.</p>

</div>
